* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.budget-planner {
    border-collapse: collapse;
    min-width: 750px;
}

.budget-planner * {
    font-family: sans-serif;
}

.budget-planner th {
    text-align: left;
    padding: 10px 12px;
    border-bottom: 2px solid rgb(66, 66, 243);
}

.budget-planner td {
    padding: 5px;
}

input, .delete-entry {
    font-size: 13px;
    padding: 0 10px;
    margin: 0;
}